import React, { useEffect, useState } from "react";
import styles from "./page.module.css";
import { IoMdArrowDropdown } from "react-icons/io";
import {
  actualProfitBet,
  actualProfitBetNew,
  fixArithmetic,
  onAmountBetset,
  setQuat,
} from "@/functions/msc";
import toast, { Toaster } from "react-hot-toast";
import { mainStateProvider } from "@/StateContex";
import { Popover, Text, Button } from "@mantine/core";
import useStandardControlBoard from "./ControlBoardLayout";

const unitList: number[] = [2, 1, 0.2, 0.1, 0.02, 0.01, 0.002, 0.001];
const multipylist: number[] = [1, 5, 10, 20, 30, 40, 50, 100];

interface QuaterItem {
  name: string;
  value: number;
}

const quater: QuaterItem[] = [
  { name: "1/2", value: 0.5 },
  { name: "1/3", value: 1 / 3 },
  { name: "1/4", value: 0.25 },
  { name: "All In", value: 1 },
  { name: "None", value: 0 },
];

function ControlBoard() {
  const { drawData, userData, setDrawData, lotteryData, standardSelections } =
    mainStateProvider();
  const {
    totalBetAmt,
    totalBetsCalc,
    multiplier,
    setMultiplier,
    unit,
    setUnit,
    quatar,
    setQuatar,
    handleAddToCart,
    bet,
  }: any = useStandardControlBoard();

  const [AmountBet, setBetAmount] = useState<string>("");

  useEffect(() => {
    if (AmountBet !== "") {
      setBetAmount("");
      setMultiplier(1);
      setUnit(2);
      setQuatar([]);
    }
  }, [lotteryData.lottery_games_id]);

  useEffect(() => {
    console.log("drawData:", drawData);
  }, [lotteryData.lottery_games_id]);

  return (
    <div className={styles.container}>
      <div className={styles.controlpane}>
        <div className={styles.itempane}>
          <Popover width={"fit-content"} position="right" withArrow shadow="sm">
            <Popover.Target>
              <div className={styles.bool}>
                <div className={styles.pre}>Period</div>
                <div className={styles.prebox}>
                  <div className={styles.predate}>{drawData.nextBetId}</div>
                  <IoMdArrowDropdown
                    className={styles.arrow}
                    size={20}
                    color="white"
                  />
                </div>
              </div>
            </Popover.Target>
            <Popover.Dropdown style={{ padding: 0 }}>
              <Text style={{ padding: 0 }} size="sm">
                {drawData.drawPeriods.map((x: any) => (
                  <div
                    className={styles.flow}
                    onClick={() => setDrawData({ ...drawData, nextBetId: x })}
                  >
                    {x}
                  </div>
                ))}
              </Text>
            </Popover.Dropdown>
          </Popover>
        </div>
        <div className={styles.itempane}>
          <div className={styles.bool}>
            <div className={styles.pre}>Amount</div>
            <div className={styles.multiamount}>
              {unitList.map((number, index) => (
                <button
                  style={{
                    color: unit === number ? "red" : "",
                    boxShadow:
                      unit === number
                        ? "inset 0px 2px 3px #00000029, 0px 3px 2px #bebebe29"
                        : "",
                    borderRadius:
                      index === 0
                        ? "50px 0 0 50px"
                        : index === 7
                        ? "0 50px 50px 0"
                        : 0,
                  }}
                  className={styles.amount}
                  key={index}
                  onClick={() => {
                    setUnit(number);
                    setQuatar([]);
                    setBetAmount("");
                  }}
                >
                  {number}
                </button>
              ))}
            </div>
          </div>
        </div>
        <div className={styles.itempane}>
          <div className={styles.bool}>
            <div className={styles.pre}>Bet Amount</div>
            <div className={styles.amountenter}>
              <input
                disabled={totalBetsCalc === 0}
                value={AmountBet}
                onChange={(e) => {
                  onAmountBetset(
                    e,
                    setUnit,
                    setBetAmount,
                    totalBetsCalc,
                    toast,
                    setMultiplier,
                    unit
                  );
                }}
                className={styles.inps}
                type="text"
                placeholder="Enter Bet Amount"
              />
            </div>
          </div>
        </div>
      </div>
      <div className={styles.controlpane}>
        <div className={styles.itempane}>
          <div className={styles.bool}>
            <div className={styles.pre}>Bonus</div>
            <div className={styles.prebox}>
              <div className={styles.predate}>90.00%-0%</div>
              <IoMdArrowDropdown
                className={styles.arrow}
                size={20}
                color="white"
              />
            </div>
          </div>
        </div>
        <div className={styles.itempane}>
          <div className={styles.bool}>
            <div className={styles.pre}>Multiply</div>
            <div className={styles.multiamount}>
              {multipylist.map((number, index) => (
                <button
                  style={{
                    color: multiplier === number ? "red" : "",
                    boxShadow:
                      multiplier === number
                        ? "inset 0px 2px 3px #00000029, 0px 3px 2px #bebebe29"
                        : "",
                    borderRadius:
                      index === 0
                        ? "50px 0 0 50px"
                        : index === 7
                        ? "0 50px 50px 0"
                        : 0,
                  }}
                  className={styles.amount}
                  key={index}
                  onClick={() => {
                    setMultiplier(number);
                    setBetAmount("");
                  }}
                >
                  X{number}
                </button>
              ))}
            </div>
          </div>
        </div>
        <div className={styles.itempane}>
          <div className={styles.bool}>
            <div className={styles.pre}>Miltiply Bet</div>
            <div className={styles.countmult}>
              <button
                className={styles.butty}
                onClick={() => {
                  setBetAmount("");
                  setMultiplier(Math.max(1, multiplier - 1));
                }}
              >
                -
              </button>
              <button className={styles.unit}>X{multiplier}</button>
              <button
                className={styles.butty2}
                onClick={() => {
                  setBetAmount("");
                  setMultiplier(Math.min(9999, multiplier + 1));
                }}
              >
                +
              </button>
            </div>
          </div>
        </div>
      </div>
      <div className={styles.controlpanex}>
        <div className={styles.bool}>
          <div className={styles.pre}>model</div>
          <div className={styles.multiamount}>
            {quater.map((number, index) => (
              <button
                style={{
                  color: quatar === number.value ? "red" : "",
                  boxShadow:
                    quatar === number.value
                      ? "inset 0px 5px 5px #00000029, 0px 3px 2px #bebebe29"
                      : "",
                  borderRadius:
                    index === 0
                      ? "50px 0 0 50px"
                      : index === 4
                      ? "0 50px 50px 0"
                      : 0,
                }}
                className={styles.amount}
                key={index}
                onClick={() => {
                  setQuat(
                    number.value,
                    setUnit,
                    setQuatar,
                    setMultiplier,
                    setBetAmount,
                    toast,
                    totalBetsCalc,
                    userData.balance
                  );
                }}
              >
                {number.name}
              </button>
            ))}
          </div>
        </div>

        <div className={styles.itempane}>
          <div style={{ gap: 10 }} className={styles.bool}>
            <Button
              variant="outline"
              style={{
                width: "100%",
                color: "white",
                border: "1px solid white",
              }}
              size="sm"
              color="white"
              disabled={bet.totalBets === 0 ? true : false}
              onClick={handleAddToCart}
            >
              Add to Cart
            </Button>
            <Button
              bg={"#A0D62B"}
              style={{ width: "100%" }}
              size="sm"
              color="blue"
            >
              Track
            </Button>
            <Button
              bg={"#ED712E"}
              style={{ width: "100%" }}
              size="sm"
              color="blue"
            >
              Bet Now
            </Button>
          </div>
        </div>
      </div>
    </div>
  );
}

export default ControlBoard;
